{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
    <!-- Search Form -->
    <form method="GET" action="{% url 'search_record' %}" class="mb-3 d-flex align-items-center">
        <input 
            type="text" 
            name="q" 
            class="form-control" 
            placeholder="Search Name, Email, Phone..." 
            value="{{ query }}">

        <select name="status" class="form-control ms-2">
            <option value="">All Statuses</option>
            {% for value, label in status_choices %}
                <option value="{{ value }}" 
                {% if selected_status == value %}selected{% endif %}>
                {{ label }}
                </option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary ms-2">Search</button>
        {% if query %}
            <a href="{% url 'search_record' %}?=" class="btn btn-secondary ms-2">Clear</a>
        {% endif %}
    </form>

    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zipcode</th>
            <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records%}
                <tr>
                    <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
                    <td>{{ record.first_name }}
                    {{ record.last_name }}</td>
                    <td>{{ record.get_status_display }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.phone }}</td>
                    <td>{{ record.address }}</td>
                    <td>{{ record.city }}</td>                        
                    <td>{{ record.state }}</td>
                    <td>{{ record.zipcode }}</td>
                    <td>{{ record.created_at }}</td>
                </tr>
                    {% empty %}
                <tr>
                    <td colspan="9" class="text-center">No records found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% else %}
<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br>

<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</form>

</div>



{% endif %}

{% endblock %}